# APP Settings
app_name="Worktime API"

# APP DATABASE
db_type = "pgsql"
db_host = "localhost"
db_port = 5432
db_database = "database"
db_user = "user"
db_password = "password"

# EMAIL
#; emulate | true | false
email_enable = "true"
email_smtp_host = "mail.gmail.com"
email_smtp_port = 25
email_smtp_user = "wt@gmail.com"
email_smtp_password = "password"
email_from_email = "wt@gmail.com"
email_from_name = "Worktime API"
email_reply_email = "wt@gmail.comu"
email_reply_name = "Worktime API"
email_emulate_email = "wt@gmail.com"
email_support_email = "wt@gmail.com"
email_bcc_support = "true"
email_debug = 0
email_ignore = ""
